
/*
body{
background-image: url(image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
*/

.container{width: 100%;
 height: 100%; 
 background-color: #ADD8E6;
  margin: 0 auto;}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.formPanel{
	position:relative;
	width: 35%;
	left: 20%;
	
	border-style: solid;
    border-color: white;
    border-width: thick;
    border-radius: 2%; 
    padding: 2%;
    background-color: white;

}

.logo{
position: relative;
left: 30%; 
width: 50%; 
padding: 2%;">

}

.header{
	color: blue;
	font-family: sans-serif;
	
}

.formControl{
	height: 40%;
	width: 90%;
	padding: 2%;
	border-radius: 5px;
	background-color:  lightblue;
	margin: 2%;
}


#createaccount{
	background-color: blue;
	color: white;							
}